{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                <div class="card-body">
                    {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    <form action="{{ url_for('login') }}" method="POST">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmailAddress" name="email" type="email"
                                   placeholder="name@example.com">
                            <label for="inputEmailAddress">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputPassword" name="password" type="password"
                                   placeholder="Password">
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" id="rememberPasswordCheck" name="remember" type="checkbox"
                                   value="">
                            <label class="form-check-label" for="rememberPasswordCheck">Remember password</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a class="small" href="#">Forgot Password?</a>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="#">Need an account? Sign up!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
